
#works-cited{
    margin: 0 20%;
}

.cite-break{
    line-height: 1000%;
}

#pdf-div{
    width: 100%;
    text-align: center;
}

#pdf-link-div{
    width: 100%;
    text-align: center;
}

.pdf-link{
    margin: 2%;
    font-size: 1.25em;
    color: rgb(0, 119, 0);
}