html, body {
    height: 100%;
    overflow-y: auto;
}

#logo-img{
    height: 100%;
    border: 0;
    margin-top: 3%;
}

#menu-category-div{
    display: flex;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    background-color: rgb(239, 255, 222);
    margin-top: 78px;
}

.menu-category{
    padding: 10px 30px 0px;
    border-left: 1px solid rgb(196, 196, 196);
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
    color: black;
}

.menu-category:visited{
    color: black;
}

#menu-category-div-foreground{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(239, 255, 222), 5%, rgb(239, 255, 222, 0), 95%, rgb(239, 255, 222));
    position: absolute;
    top: 70px;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.category-scroll-button{
    position: absolute;
    height: 40px;
    width: 50px;
    border: none;
    font-weight: bold;
}

#category-scroll-right{
    background: linear-gradient(90deg, rgb(239, 255, 222, 0), 5%, rgb(239, 255, 222));
    right: 0;
}

#category-scroll-left{
    background: linear-gradient(270deg, rgb(239, 255, 222, 0), 5%, rgb(239, 255, 222));
    left: 0;
}

.menu-container{
    padding-top: 50%;
    width: 100%;
}

.category-container{
    padding-top: 60px;
    width: 100%;
    text-align: center;
}

.menu-item{
    display: inline-block;
    width: 300px;
    height: 350px;
    border: 1px solid black;
    text-align: left;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: #efffde;
    margin: 10px;
    position: relative;
}

.menu-item-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: left;
    padding: 20px 20px 0px;
    margin: 0;
}

.menu-item-desc{
    padding: 0px 20px 0px;
    margin-top: 3px;
    margin-bottom: 0;
}

.menu-item-img{
    height: 60%;
    min-width: 100%;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.menu-item-add{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 50px;
    width: 70px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #aad374;
}

.menu-item-add:hover{
    background-color: #a0c96f;
}